body {
  line-height: 1.85;
}
.filter-select-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 70px;
}
.filter-select {
  font-family: inherit;
  font-size: inherit;
  background-color: #19487ead;
  border: 1px solid rgba(0, 0, 0, 0.059);
  color: #ffffff;
  padding: 0.2em 1em;
  border-radius: 30px;
  width: 11.5em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  outline: none;
  letter-spacing: 1px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.proffesional-card-container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

.proffesional-card {
  width: 200px;
  background-color: #f8fbfe;
  border-radius: 8px;
  border: solid 1px black;
  z-index: 1;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: black;
}
select {
  cursor: pointer;
}
option {
  color: rgb(1, 0, 0);
  background-color: #ece7e7cf;
}

.card {
  width: 300px;
  height: 100%;
  background: rgba(0, 54, 163, 0.2);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.5s;
  color: #2d2c2c;
}
#name {
  font-weight: 600;
}
i {
  padding: 0;
}
#area i {
  color: #494747;
}
#profession i {
  color: #494747;
}
#profession {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #393939;
  /* text-align: center; */
}
.card img {
  background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32));
  margin-top: 20px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.textContainer {
  width: 100%;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Play", sans-serif;
  /* font-weight: 700; */
  font-style: normal;
}

.profile {
  font-size: 0.84em;
  color: rgb(194, 194, 194);
  letter-spacing: 0.2px;
}

.card:hover {
  background-color: rgba(156, 149, 149, 0.555);
  transition-duration: 0.5s;
}
form button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #176ea9;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 1px solid rgba(0, 0, 0, 0.059);
}

form button:hover {
  background-color: #3f8cbf;
  box-shadow: 0 0 20px #447a9e50;
  transform: scale(1.1);
}

form button:active {
  background-color: #15384f;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
