.mainContainer {
  position: relative;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  background-color: aliceblue;
  padding: 2em;
  margin: 1.5em;
  margin-bottom: 5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p.infoKey {
  display: inline;
  font-weight: bold;
  color: rgb(7, 72, 61);
  font-size: 1.1em;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#image {
  width: 50%;
  height: inherit;
}

.infoDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

i {
  padding-left: 4px;
}

.wrapperDetailsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

button {
  display: block;
}

dialog {
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
}

.book-me {
  padding: 20px;
}

td,
th {
  padding: 10px;
  border: 1px solid black;
  height: 50px;
}
.available {
  background-color: lightgreen;
}
.unavailable {
  background-color: lightcoral;
}

.middlePage {
  display: flex;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
}
button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.addReviewForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.activeFav {
  color: yellow;
}
