.mainContainer {
  position: relative;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  background-color: aliceblue;
  padding: 2em;
  margin: 1.5em;
  margin-bottom: 5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mainContainer span {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-variation-settings: "wdth" 100;
}
p.infoKey {
  display: inline;
  font-weight: bold;
  color: rgb(7, 72, 61);
  font-size: 1.1em;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-variation-settings: "wdth" 100;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#image {
  width: 50%;
  height: inherit;
}

.infoDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

i {
  padding-left: 4px;
}

.wrapperDetailsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

button {
  display: block;
}

dialog {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  font-weight: bold;
  z-index: 10;
}

.book-me {
  padding: 20px;
}

td,
th {
  padding: 10px;
  border: 1px solid black;
  height: 50px;
}
.available {
  background-color: rgb(111, 239, 111);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.unavailable {
  background-color: rgb(248, 69, 69);
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.middlePage {
  display: flex;
  justify-content: center;
}
.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  font-variation-settings: "wdth" 100;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.addReviewForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.activeFav {
  color: yellow;
}
dialog.book-me {
  margin-top: -7.5em;
  border: 1px solid rgb(148, 146, 146);
  flex-direction: column;
}
dialog i {
  align-self: flex-end;
  cursor: pointer;
}
.book-me table {
  width: 1000px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}
th {
  border: none;
  border-radius: 5px;
  background-color: #ece7e7;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjusted width for larger screens */
    max-width: 1000px; /* Increased maximum width for larger screens
  }
  .wrapperDetailsAndImage {
    display: flex;
    flex-direction: column-reverse;
  }
  img#image {
    position: relative;
    justify-content: flex-start;
  }
  .detailsContainer {
    flex-direction: row;
    gap: 2em;
  }

  #image {
    width: 100%; /* Adjusted width for larger screens */
  }

  button {
    flex: initial; /* Reset button width for larger screens */
  }

  .book-me {
    width: 80vw;
  }
}
