.mainContainer {
    position: relative;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    background-color: aliceblue;
    padding: 1em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p.infoKey {
  display: inline;
  font-weight: bold;
  text-decoration: underline;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


#image{
    width: 50%;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i{
    padding-left: 4px;
}

.wrapperDetailsAndImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.carousela{
    height: 6em;
    display: flex;
    flex-direction: row;
}

button{
    display: block;
}

dialog{
    position: fixed;
    top: 30vh;
    border-radius: 5px;
    font-weight: bold;
}

.book-me{
    padding: 20px;
}



td, th{
    padding: 10px;
    border: 1px solid black;

}
.available{
background-color: lightgreen;
}
.unavailable{
background-color: lightcoral;
}